{% comment %}
// Variables for this template:
// urly - this is an urly instance to show (we use code and href properties)
// error_404 - an error message to show the user
// default_href - default href to dump into text area. Why do we have this?
// error_href - set when we have an improperly formatted href
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>logg.ly - short urls</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta property="og:title" content="logg.ly" />
  <meta property="og:url" content="http://logg.ly/" />
  <meta property="og:type" content="website" />
  <meta property="fb:admins" content="534232326" />
  <script type="text/javascript" src="static/urly.js"></script>
  <script src="http://platform.twitter.com/anywhere.js?id=lSCb4gibOKyurT4TL67hjg&amp;v=1"></script>
  <script type="text/javascript">
     twttr.anywhere(function(twitter) {
              twitter.hovercards();
     });
  </script>
</head>
<body style="font-family: verdana, arial; font-size: 80%; text-align: center">
<div style="margin: 0 auto; width: 600px; padding: 20px; text-align: left;">

{% if error_404 or urly or error_href %}
<div style="margin-top: 5px; margin-bottom: 15px;">
  {% if error_404 %}Oops - we couldn't find that logg.ly.{% endif %}
  {% if error_href %}Oops - that address doesn't look right.  Hoover can't create a miracle from it.{% endif %}
  {% if urly %}
  {{ urly.href }} is now short, and <b>Hoover has hacked it into your clipboard</b>!<br/>
  <input id="href" name="href" type="text" style="margin-top: 5px; padding: 3px; width: 600px; border: 1px solid #cccccc;" value="http://log.ly/{{ urly.code }}" />
  <script type="text/javascript" language="javascript">window.onload = copy("http://log.ly/{{ urly.code }}");</script>
  <script type="text/javascript" language="javascript">window.onload = focus("href");</script>
  <div style="margin-top:15px">
    Tweet about your logg.ly:
    <div id="tbox"></div>
    <script type="text/javascript">
      twttr.anywhere(function (T) {
        T("#tbox").tweetBox({
          height: 65,
          width: 600,
          counter: false,
          defaultContent: "{{ title }} http://logg.ly/{{ urly.code }}",
          label: " "
        });
      });
    </script>
  <a href="http://logg.ly/{{ urly.code }}">Try your logg.ly</a> or share on <a href="http://twitter.com/home?status={{ title|urlencode }}+http%3A%2F%2Flogg.ly%2F{{ urly.code }}">Twitter</a> or <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Flogg.ly%2F{{ urly.code }}&t={{ title|urlencode }}">Facebook</a>  
  </div>
  {% endif %}
</div>
{% endif %}

{% if not urly %}
<div style="padding-bottom: 3px;">Enter a long URL below and Hoover will make it short:</div>
<form action="new.html" method="get" accept-charset="utf-8">
<textarea style="margin-bottom: 5px; width: 100%; border: 1px solid #cccccc;" name="href" id="href" rows="4">{{ default_href }}</textarea>
<input type="submit" value="Create" />
</form>
{% endif %}

  <p>Drag this link to your browser toolbar:&nbsp;
  <a href="javascript:location.href='http://logg.ly/new.html?href='+encodeURIComponent(location.href)+'&amp;title='+encodeURIComponent(document.title)">logg.ly!</a></p>
  <p>Copyright 2011, <a href="http://loggly.com/">Loggly, Inc.</a></p>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-81531-8");
pageTracker._trackPageview();
} catch(err) {}</script>
</body></html>
